<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @servicio.titulo %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @servicio.texto %>
</p>

<p>
  <strong>Fondo:</strong>
  <%= @servicio.fondo %>
</p>

<%= link_to 'Editar', edit_servicio_path(@servicio) %> |
<%= link_to 'Atras', servicios_path %>
