<h1>Menu#index</h1>
<p>Find me in app/views/menu/index.html.erb</p>

<%= link_to 'Cervezas', cervezas_path %>
<%= link_to  'Mensajes', mensajes_path %>
<%= link_to 'Nosotros', nosotros_path %>
<%= link_to 'servicios', servicios_path %>
<%= link_to 'frases', frases_path %>

