
<head>
	<meta charset='utf-8'/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>	
<header>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">		
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			  </button>
			  <a class="navbar-brand" href="#Gallery"><img src="http://i.imgur.com/Fl68w7C.png" alt="beertruck logo"/></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav">
				<li><a href="#Gallery">Home</a></li>
				<li><a href="#frase1">Services</a></li>
				<li><a href="#Beers">Beers</a></li>
				<li><a href="#frase3">About Us</a></li>
				<li><a href="#frase4">Contact Us</a></li>
			  </ul>
			</div>
  		</div>
		
		</nav>
	</header>
	<div class="section" id="Gallery">
		<ul class="slides">
  			<input type="radio" name="radio-btn" id="img-1" checked />
  			<li class="slide-container">
   				<div class="slide">
   				      	<video muted autoplay loop id="video1" width="100%">
    							<source src="https://www.dropbox.com/sm/hls_playlist/s/omzsmqxl59ek7so/Videos/TheCraftbeerTruck_instagram_presentation_v4.mp4?secure_hash=AAAglZIhLf-2QVPKeJQdQNo5a" type="video/mp4">
  						</video> 			    
    			</div>
    			<div class="galeria">
      				<label for="img-6" class="prev">&#x2039;</label>
      				<label for="img-2" class="next">&#x203a;</label>
    			</div>
  			</li>
  			<% @galerias.each do |galeria| %>
  			<input type="radio" name="radio-btn" id= <%= 'img-' + galeria.foto_numero.to_s %> />
  				<li class="slide-container">
    				<div class="slide">
    					<img src=<%= galeria.foto %>/>
    				</div>
    				 <div class="galeria">
      					<label for= <%= 'img-' + (galeria.foto_numero - 1).to_s %> class="prev">&#x2039;</label>
      					<label for= <%= 'img-' + (galeria.foto_numero + 1).to_s %> class="next">&#x203a;</label>
    				</div>
    			</li>
    		<% end %>	
  			<!--<input type="radio" name="radio-btn" id="img-2" />
  				<li class="slide-container">
    				<div class="slide">
						<img src="http://imgur.com/rftszMr.jpg"/>
    				</div>
    				<div class="galeria">
      					<label for="img-1" class="prev">&#x2039;</label>
      					<label for="img-3" class="next">&#x203a;</label>
    				</div>
  				</li>
  			<input type="radio" name="radio-btn" id="img-3" />
  				<li class="slide-container">
    				<div class="slide">
      					<img src="http://i67.tinypic.com/4lrdzt.jpg"/>
    				</div>
    				<div class="galeria">
      					<label for="img-2" class="prev">&#x2039;</label>
      					<label for="img-4" class="next">&#x203a;</label>
    				</div>
  				</li>
  			<input type="radio" name="radio-btn" id="img-4" />
  				<li class="slide-container">
    				<div class="slide">
      					<img src="http://imgur.com/gGNHHZz.jpg"/>
   					</div>
    				<div class="galeria">
      					<label for="img-3" class="prev">&#x2039;</label>
      					<label for="img-5" class="next">&#x203a;</label>
    				</div>
  				</li>
  			<input type="radio" name="radio-btn" id="img-5" />
  				<li class="slide-container">
    				<div class="slide">
      					<img src="http://imgur.com/mDxABgp.jpg"/>
    				</div>
    				<div class="galeria">
     					<label for="img-4" class="prev">&#x2039;</label>
      					<label for="img-6" class="next">&#x203a;</label>
    				</div>
  				</li>
  			<input type="radio" name="radio-btn" id="img-6" />
  				<li class="slide-container">
    				<div class="slide">
      					<img src="http://imgur.com/VUj6Gqr.jpg"/>
    				</div>
    				<div class="galeria">
      					<label for="img-5" class="prev">&#x2039;</label>
      					<label for="img-1" class="next">&#x203a;</label>
    				</div>
  				</li>-->
  			<li class="galeria-dots">
    			<label for="img-1" class="galeria-dot" id="img-dot-1"></label>
    			<label for="img-2" class="galeria-dot" id="img-dot-2"></label>
    			<label for="img-3" class="galeria-dot" id="img-dot-3"></label>
    			<label for="img-4" class="galeria-dot" id="img-dot-4"></label>
    			<label for="img-5" class="galeria-dot" id="img-dot-5"></label>
    			<label for="img-6" class="galeria-dot" id="img-dot-6"></label>
  			</li>
		</ul>		
	</div>
	<div class="section frase" id="frase1">
		<h1><%= @frases[0].frase %></h1>
	</div>
  	<div class="section" id="Services"> 
		<div class="col-1-3 service">
			<div class="opacidad">
				<h1>Que hacemos?</h1>
				<p>(explicaría como es el servicio, como nos contratan, 
				que podes elegir las cervezas que queres tirar, 
				que vamos a un evento privado y cobramos por litros o 
				vamos aun evento y cobramos ticket en el lugar. etc. 
				Que hay 6 opciones de cervezas...)</p>
			</div>
		</div>
		<div class="col-1-3 service">
			<div class="opacidad">		
				<h1>Quienes somos?</h1>
				<p> THE CRAFTBEER TRUCK es un
					PUB DE CERVEZAS ARTESANALES
					que se traslada a donde quieras!.</br>
					Un autentico FESTIVAL CERVECERO
					para Eventos Privados y Corporativos
					que permite acercar una 
					experiencia original y de vanguardia
					a todos los invitados.</br></br>
					THE CRAFTBEER TRUCK cuenta con 
					capacidad para servir 2000 litros de 
					cervezas rojas, negras y rubias de 
					distintos estilos y variedades</br></br>
					Viví la experiencia, donde quieras y cuando quieras !</p>

			</div>
		</div>
		<div class="col-1-3 service">
			<div class="opacidad">
			<h1>Nuestros servicios</h1>
				<ul>
					<li>Eventos Privados</li>
					<li>Festivales</li>
					<li>Alquiler del BT</li>
					<li>Recitales</li>
					<li>Eventos Corporativos</li>
					<li>Campañas y acciones de marketing</li>
				</ul>
			</div>
		</div>		
  		<a href="#Gallery"><i class="fa fa-chevron-up fa-2x"></i></a>
  	</div>
  	<div class="section frase" id="frase2">
		<h1><%= @frases[1].frase %></h1>
	</div>


	<div class="section" id="Beers">
			<% @cervezas.each do |cerveza| %>
			<div class="cerveza">
				<img src=<%= cerveza.foto %> alt=<%= cerveza.marca %>/>
				<div class="img-on-top"><a class="img-expand" href="#"><%= cerveza.marca %></a></div>
			</div>
			<% end %>
		<!--<div class="mostrar-todo"><span>Mostrar todo</span></div>-->
	</div>
	<div class="section frase" id="frase3">
		<h1><%= @frases[2].frase %> </h1>
	</div>


	<div class="section clearfix" id="About">
		<h1>Acerca de nosotros</h1>
		<div class="row clearfix">
		<% @nosotros.each do |persona| %>
			<div class="col-1-4 persona">
				<img src=<%= persona.foto %> alt=<%= persona.nombre %> />
				<h1><%= persona.nombre %></h1>
				<hr>
				<p><%= persona.descipcion %></p>
			</div>	
		<% end %>	
		</div>
		<a href="#Gallery"><i class="fa fa-chevron-up fa-2x"></i></a>
	</div>
	<div class="section frase" id="frase4">
		<h1><%= @frases[3].frase %></h1>
	</div>
	<div class="section" id="Contact"> 
		<h1> Contacto </h1>
	<%= form_for :consulta, :url => { :action => :create } do |f| %>
	<%= f.text_field :name, :class => 'input', :placeholder => 'Nombre y Apellido'  %>
	<%= f.text_field :mail, :class => 'input', :placeholder => 'juan@mail.com' %>
	<%= f.text_field :consulta, :class => 'input', :placeholder => 'Ingrese su consulta' %>
	<%= f.submit 'enviar', :class => 'button'%>

	<% end %>
	</div>

		<a href="#Gallery"><i class="fa fa-chevron-up fa-2x"></i></a>
	<div class="section" id="Footer">
		<div class="row clearfix">
				<img id="footer-logo" src="http://i.imgur.com/Fl68w7C.png" alt="beertruck logo"/>		
			<div class="footer-frase">
				<h1>Para conocer mas sobre nosotros, no dudes en ingresar a nuestras redes sociales</h1>
				<h1>Suscribite a Beertruck para recibir las novedades.</h1>
				<div id="suscribe">
					<input type="email" placeholder="Juan@correo.com"></input>
					<button type="submit">OK</button>
				</div>
			</div>
			<div class="logos">
				<ul>
					<li><a href="http://www.Facebook.com"><img src="https://www.kennesaw.edu/images/global/social/facebook_round.png"/></a></li>
					<li><a href="http://www.twitter.com"><img src="http://www.kompaworld.com/image/photopage/SocialMediaicons-round-TWITTER.png"/></a></li>
					<li><a href="http://www.instagram.com"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Instagram_circle.svg/2000px-Instagram_circle.svg.png"/></a></li>
					<li><a href="http://www.pinterest.com"><img src="https://www.impactdesignhub.org/wp-content/themes/magazine/images/pinterest_gray.png"/></a></li>
				</ul>
			</div>
		</div>
	</div>