<p id="notice"><%= notice %></p>

<h1>Listing Nosotros</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descipcion</th>
      <th>Foto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nosotros.each do |nosotro| %>
      <tr>
        <td><%= nosotro.nombre %></td>
        <td><%= nosotro.descipcion %></td>
        <td><%= nosotro.foto %></td>
        <td><%= link_to 'Mostrar', nosotro %></td>
        <td><%= link_to 'Editar', edit_nosotro_path(nosotro) %></td>
        <td><%= link_to 'Eliminar', nosotro, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Nosotros', new_nosotro_path %>
