<p id="notice"><%= notice %></p>

<h1>Listing Cervezas</h1>

<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Foto</th>
      <th>Descripcion</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cervezas.each do |cerveza| %>
      <tr>
        <td><%= cerveza.marca %></td>
        <td><img style="width: 100px; height: 100px;"src=<%= cerveza.foto %>/></td>
        <td><%= cerveza.descripcion %></td>
        <td><%= cerveza.stock %></td>
        <td><%= link_to 'Mostrar', cerveza %></td>
        <td><%= link_to 'Editar', edit_cerveza_path(cerveza) %></td>
        <td><%= link_to 'Eliminar', cerveza, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Cerveza', new_cerveza_path %>
<%= link_to 'Menu', menu_path %>
