<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @cerveza.marca %>
</p>

<img src=
  <%= @cerveza.foto %>/>

<p>
  <strong>Descripcion:</strong>
  <%= @cerveza.descripcion %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @cerveza.stock %>
</p>

<%= link_to 'Editar', edit_cerveza_path(@cerveza) %> |
<%= link_to 'Atras', cervezas_path %>
