<p id="notice"><%= notice %></p>

<p>
  <strong>Foto:</strong>
  <%= @galerium.foto %>
</p>
<p>
  <strong>Foto:</strong>
  <%= @galerium.foto_numero %>
</p>

<%= link_to 'Edit', edit_galerium_path(@galerium) %> |
<%= link_to 'Back', galeria_path %>
