<p id="notice"><%= notice %></p>

<h1>Listing Frases</h1>

<table>
  <thead>
    <tr>
      <th>Frase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frases.each do |frase| %>
      <tr>
        <td><%= frase.frase %></td>
        <td><%= link_to 'Mostrar', frase %></td>
        <td><%= link_to 'Editar', edit_frase_path(frase) %></td>
        <td><%= link_to 'Eliminar', frase, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Frase', new_frase_path %>
